.bug-form-item {
  margin-bottom: 15px;
  display: inline-flex;

  &.block {
    display: flex;
  }

  .bug-form-item-label {
    align-items: center;

    > .text-label {
      font-weight: 600;
      flex-shrink: 0;
    }

    > .slot-label {
      flex-grow: 1;
    }
  }

  &.horizontal {
    align-items: center;

    .bug-form-item-label {
      display: inline-flex;
      flex-shrink: 0;
      width: 100px;
      text-align: right;
    }

    .bug-form-item-body {
      flex-grow: 1;
    }
  }

  &.vertical {
    flex-direction: column;

    .bug-form-item-label {
      display: flex;
      margin-bottom: 7px;
    }
  }
}