.bug-menu {
  .bug-menu-group {
    &.expand {
      & > .bug-menu-group-title::after {
        transform: rotate(-180deg);
      }
    }

    .bug-menu-group-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      font-weight: bold;
      transition: all 0.3s linear;
      cursor: pointer;

      &:hover {
        background-color: #eeeeee;
      }

      &::after {
        display: inline-block;
        content: '';
        width: 20px;
        height: 20px;
        background-image: url(../images/arrow-down.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 0.3s linear;
      }
    }

    .bug-menu-group-content {
      padding-left: 15px;
      overflow: hidden;
      display: none;
    }
  }

  .bug-menu-item {
    padding: 10px 20px;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      background-color: #eeeeee;
    }

    &.selected {
      color: #0366d6;
      cursor: default;
    }
  }
}
