@keyframes bug-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
.bug-skeleton {
  .bug-skeleton-loading {
    background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    background-size: 400% 100%;
    animation: bug-skeleton-loading 1.4s ease infinite;
  }
  .bug-skeleton-paragraph {
    .bug-skeleton-paragraph-title {
      width: 38%;
      height: 16px;
      border-radius: 4px;
      margin-top: 16px;
    }
  }
  .bug-skeleton-paragraph-detail {
    display: block;
    margin-top: 20px;
    > li {
      display: block;
      height: 16px;
      border-radius: 4px;
      margin-top: 16px;
      &:last-child {
        width: 60%;
      }
    }
  }
  .bug-skeleton-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 16px);
    row-gap: 16px;
    column-gap: 16px;
    > * {
      border-radius: 4px;
    }
  }
}