.falco-backtop {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 40px;
  right: 40px;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    display: inline-block;
    border-bottom: 8px solid #aaa;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  &:hover {
    background-color: #ccc;
  }
}
.falco-backtop-enter-from,
.falco-backtop-leave-to {
  opacity: 0;
}
.falco-backtop-enter-to,
.falco-backtop-leave-from {
  opacity: 1;
}
.falco-backtop-enter-active,
.falco-backtop-leave-active {
  transition: opacity 0.3s ease;
}