.falco-message {
    display: inline-flex;
    @media screen and (min-width: 600px) {
        width: 300px;
    }
    @media screen and (max-width: 600px) {
        width: 80%;
    }
    align-items: center;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    > .falco-message-flag {
        flex-shrink: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.info {
        color: #909399;
        background-color: #edf2fc;
        border-color: #ebeef5;
        > .falco-message-flag {
            background-image: url(../images/info.png);
        }
    }

    &.warn {
        color: #e6a23c;
        background-color: #fdf6ec;
        border-color: #faecd8;
        > .falco-message-flag {
            background-image: url(../images/warn.png);
        }
    }

    &.error {
        color: #f56c6c;
        background-color: #fef0f0;
        border-color: #fde2e2;
        > .falco-message-flag {
            background-image: url(../images/x.png);
        }
    }

    &.success {
        color: #67c23a;
        background-color: #f0f9eb;
        border-color: #e1f3d8;
        > .falco-message-flag {
            background-image: url(../images/success.png);
        }
    }

    &.falco-message-enter-from,
    &.falco-message-leave-to {
        opacity: 0;
        transform: translate(-50%, -50px);
    }

    &.falco-message-enter-active,
    &.falco-message-leave-active {
        transition: all 0.3s;
    }

    &.falco-message-enter-to,
    &.falco-message-leave-from {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    > .falco-message-content {
        flex-grow: 1;
        padding-left: 10px;
    }
}
