.falco-radio {
  $height: 32px;
  $input-height: 16px;
  display: inline-block;
  position: relative;

  input {
    width: $input-height;
    height: $input-height;
    margin: math.div($height - $input-height, 2) 0;
    opacity: 0;
  }

  .falco-radio-flag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $input-height;
    height: $input-height;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: math.div($height - $input-height, 2);
    &::after {
      content: '';
      width: 8px;
      height: 8px;
      background-color: #1890ff;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.2s linear;
    }
  }

  .falco-radio-label {
    font-size: 14px;
    line-height: $height;
    padding-left: 5px;
  }

  input:checked + .falco-radio-flag {
    border-color: #1890ff;
    &::after {
      transform: scale(1);
    }
  }

  input:disabled {
    & + .falco-radio-flag {
      border-color: #d9d9d9;

      &::after {
        background-color: rgba(0, 0, 0, 0.2);
      }

      & + .falco-radio-label {
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  input:not(.disabed):focus + .falco-radio-flag {
    box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
  }
}