.falco-radio-group {
    > li {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &.vertical > li {
        display: block;
        margin-right: 0;
    }
}
