.falco-select {
  display: inline-block;
  position: relative;

  &.open::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .falco-select-result {
    min-width: 100px;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    padding: 5px 26px 5px 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    cursor: pointer;
    position: relative;

    &.disabled {
      cursor: default;
    }

    &:not(.disabled):hover {
      background-color: #f3f4f6;
    }

    &:not(.disabled):focus {
      box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
    }

    &:not(.disabled):active {
      box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
      background-color: #edeff2;
    }

    &::after {
      display: inline-block;
      content: '';
      border: 4px solid transparent;
      border-top-color: #24292e;
      position: absolute;
      right: 12px;
      top: math.div(32px - 8px, 2);
    }

    .falco-select-result-content {
      display: inline-block;
      height: 20px;
      line-height: 20px;
    }

    .falco-select-clear {
      display: none;
      width: 20px;
      height: 20px;
      background-color: #eee;
      border-radius: 50%;
      transition: background-color 0.3s ease;
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;

      &::before,
      &::after {
        display: inline-block;
        content: '';
        width: 10px;
        height: 2px;
        background-color: #24292e;
        position: absolute;
        top: 9px;
        left: 5px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
      &:hover {
        background-color: #ccc;
      }
    }

    &:hover .falco-select-clear {
      display: inline-flex;
    }
  }
  .falco-select-menu {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    background-color: #fff;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 1;

    &.below {
      top: 36px;
    }

    &.above {
      bottom: 36px;
    }

    .falco-select-menu-header {
      flex-shrink: 0;
      padding: 8px 10px;
      display: none;
    }

    .falco-select-menu-body {
      flex-grow: 1;
      overflow-y: auto;
    }

    .falco-select-menu-item {
      display: block;
      font-size: 12px;
      line-height: 18px;
      padding: 8px 8px 8px 30px;
      color: #586069;
      cursor: pointer;
      position: relative;
      &:not(:last-child) {
        border-bottom: 1px solid #eaecef;
      }
    }

    .falco-select-menu-item.selected {
      color: #24292e;

      &::before {
        display: inline-block;
        content: '';
        width: 8px;
        height: 6px;
        border-left: 2px solid #24292e;
        border-bottom: 2px solid #24292e;
        position: absolute;
        left: 10px;
        top: 14px;
        transform: rotate(-45deg);
      }
    }

    .falco-select-menu-item:hover {
      background-color: #0366d6;
      color: #fff;

      &::before {
        border-left-color: #fff;
        border-bottom-color: #fff;
      }
    }
  }
}
