.falco-table {
    overflow: auto;
    > table {
        width: 100%;
        border-collapse: collapse;
    }
    .falco-table-th {
        text-align: left;
        background-color: #fafafa;
        border-bottom: 1px solid #f0f0f0;
        padding: 16px;
        font-weight: 500;
        vertical-align: middle;
        transition: background 0.3s;
        &.sortable {
            cursor: pointer;
            &:hover {
                background-color: #f2f2f2;
            }
        }
        .falco-table-order-by {
            display: inline-block;
            width: 12px;
            height: 20px;
            margin-left: 10px;
            position: relative;
            &::before,
            &::after {
                display: inline-block;
                content: '';
                border: 6px solid transparent;
                border-top: 0;
                border-bottom-color: #bfbfbf;
                position: absolute;
                left: 0;
            }
            &::before {
                top: 3px;
            }
            &::after {
                transform: rotate(180deg);
                bottom: 3px;
            }
            &.order-by-asc::before {
                border-bottom-color: #1890ff;
            }
            &.order-by-desc::after {
                border-bottom-color: #1890ff;
            }
        }
    }
    .falco-table-row {
        transition: background-color 0.3s;
        &:hover {
            background-color: #fafafa;
        }
    }
    .falco-table-td {
        padding: 16px;
        border-bottom: 1px solid #f0f0f0;
        vertical-align: middle;
    }
}
