.falco-tab-pane {
  display: inline-block;
  padding: 8px 10px;
  cursor: default;
  border-radius: 5px;
  transition: all 0.3s linear;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.block {
    display: block;
  }

  &.selected {
    background-color: #ddd;
  }

  &:not(.selected):hover {
    background-color: #ddd;
    cursor: pointer;
  }
}
