.bug-checkbox {
  $height: 32px;
  $input-height: 20px;
  display: inline-block;
  position: relative;
  font-weight: 500;

  &.block {
    display: block;
  }

  input {
    display: inline-block;
    width: $input-height;
    height: $input-height;
    margin: math.div($height - $input-height, 2) 0;
    opacity: 0;
  }

  .bug-checkbox-flag {
    display: inline-block;
    height: $input-height;
    width: $input-height;
    border-radius: 4px;
    background: #ebecf0;
    box-shadow: inset 2px 2px 4px #c8c9cc, inset -2px -2px 4px #ffffff;
    position: absolute;
    left: 0;
    top: math.div($height - $input-height, 2);
    &::after {
      display: inline-block;
      border: 2px solid transparent;
      border-left: 0;
      border-top: 0;
      content: '';
      height: 10px;
      left: 7px;
      position: absolute;
      top: 4px;
      transform: rotate(45deg);
      width: 6px;
    }
  }

  .bug-checkbox-label {
    display: inline-block;
    font-size: 14px;
    line-height: $height;
    margin-left: 5px;
  }

  input:checked + .bug-checkbox-flag {
    border-color: #1654f0;
    &::after {
      border-color: #1654f0;
    }
  }

  input:disabled {
    .bug-checkbox-flag {
      background-color: #f5f5f5;
      border-color: #f5f5f5;
    }
    .bug-checkbox-label {
      color: rgba(0, 0, 0, 0.25);
    }
  }

  .partial:checked + .bug-checkbox-flag::after {
    width: 8px;
    height: 3px;
    border: 0;
    left: 6px;
    top: 9px;
    transform: rotate(0);
    background-color: #1654f0;
  }

  &.disabled {
    .bug-checkbox-label {
      opacity: 0.4;
    }
  }
}