.bug-input {
  display: inline-block;
  width: 150px;
  position: relative;

  input {
    border-radius: 20px;
    font-size: 14px;
    line-height: 22px;
    outline: none;
    padding: 5px 16px;
    width: 100%;
    background: $main-color;
    box-shadow: inset 3px 3px 6px #c8c9cc, inset -3px -3px 6px #ffffff;
    &::placeholder {
      color: #a3aab1;
    }
    &:disabled {
      opacity: 0.6;
    }
  }

  $clear-size: 18px;
  & > .clear {
    display: inline-block;
    width: $clear-size;
    height: $clear-size;
    background-image: url(../../images/x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity .3s linear;
    position: absolute;
    top: 50%;
    margin-top: math.div(-$clear-size, 2);
    right: 10px;

    &:hover {
      opacity: 1;
    }
  }

  &:disabled > .clear {
    display: none;
  }
}