.bug-tab-pane {
  display: inline-block;
  padding: 8px 10px;
  cursor: default;
  transition: all 0.3s linear;
  border-radius: 20px;

  &.block {
    display: block;
  }

  &.selected {
    box-shadow: inset 4px 4px 8px #c8c9cc, inset -4px -4px 8px #ffffff;
  }

  &:not(.selected):hover {
    cursor: pointer;
  }
}
