.bug-tab-pane {
  display: inline-block;
  padding: 8px 10px;
  cursor: default;
  transition: all 0.3s linear;
  border-radius: 20px;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.block {
    display: block;
  }

  &:not(.selected):hover {
    cursor: pointer;
  }
}
